$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);
$border-radius: 10px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $grayish-blue;
  font-family: "Outfit", sans-serif;
  display: grid;
  place-items: center center;
  height: 100vh;
}

.card {
  width: 340px;
  background-color: $white;
  padding: 20px;
  border-radius: $border-radius;
  margin-bottom: 20px;
  text-align: center;

  img {
    width: 100%;
    border-radius: $border-radius;
    display: block;
  }

  div {
    padding: 10px;

    h2 {
      color: $dark-blue;
      margin-bottom: 20px;
    }

    p {
      color: gray;
    }
  }
}
